/* 1. CONFIGURACIÓN GENERAL */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* Apila Navbar arriba y Contenido abajo */
    min-height: 100vh;
    background: radial-gradient(circle at center, #661a5c 0%, #550583 100%); 
    /*background-color: #49144C; No me gustaba tanto el color liso, pero lo pueden poner si quieren*/
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

main.container {
    flex: 0.5;
    /* Ocupa todo el espacio restante debajo del navbar */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    text-align: center;
}

h1 {
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 30px;
    color: #E3A2E6;
    text-shadow: 0 0 10px rgba(242, 99, 255, 0.5);
}

.form-select {
    background-color: #0a0e14;
    color: #F9EBFA;
    border: 1px solid #49144C !important;
    border-radius: 10px;
    padding: 12px;
}

.btn-group {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 25px 0;
}

.btn {
    width: 65px !important;
    height: 65px !important;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    transition: all 0.3s ease;
}

.btn-danger {
    background: #ff4d4d !important;
    box-shadow: 0 0 15px rgba(255, 77, 77, 0.4);
}

.btn-warning {
    background: #ffcc00 !important;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.4);
}

.btn-success {
    background: #2ecc71 !important;
    box-shadow: 0 0 15px rgba(46, 204, 113, 0.4);
}

.btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

#signal {
    font-size: 1.5rem;
    color: #00d4ff;
    animation: pulse 1.5s infinite;
    padding-top: 20px;
}

@keyframes pulse {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
        text-shadow: 0 0 10px #00d4ff;
    }

    100% {
        opacity: 0.4;
    }
}

.form-label {
    margin-top: 15px;
    display: block;
    opacity: 0.8;
}